*{
    text-align: center;
}
.container
{
    text-align: center;
    background-color:orange;
}
.dore
{
    text-align: center;
    background-color: darkgreen;
}
.bheem
{
    text-align: center;
    background-color:darkmagenta;
}